@model IEnumerable<WebApp_Country_State_City_Reg_EF.Models.Register>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-primary">User List</h2>

@Html.ActionLink("New User", "Upsert", "Register", new {@class="btn btn-info"})

@if(!Model.Any())
            {
    <h2 class="text-danger">No Data Found</h2>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Subscribe</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            using(Html.BeginForm("Delete","Register", new { id = user.Id }))
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.Gender</td>
                            <td>@user.Subscribe</td>
                            <td>@user.City.State.Country.Name</td>
                            <td>@user.City.State.Name</td>
                            <td>@user.City.Name</td>
                            <td>
                                @Html.ActionLink("Edit", "Upsert", new { id = user.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = user.Id }, new { @class = "btn btn-info" })
                                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Want to delete Data??')" />
                            </td>
                        </tr>
                    }
                        }
                    </tbody>
                </table>
            }

