@model WebApp_MulTable_Val_MulLayout_PartialView.Models.Employee

@{
    var title = Model.Id != 0 ? "Edit Employee" : "Create Employee";
    var saveUpdate = Model.Id != 0 ? "Update" : "Save";
    ViewBag.Title = "Upsert";
}

<h2 class="text-primary text-center">@title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row">
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Salary)
        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DepartmentId)
        @Html.DropDownListFor(m => m.DepartmentId, 
                              new SelectList(ViewData["depList"] as List<WebApp_MulTable_Val_MulLayout_PartialView.Models.Department>,
                              "Id", 
                              "Name"),
                              "Select Department", 
                              new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DesignationId)
        @Html.DropDownListFor(m => m.DesignationId, 
                              new SelectList(ViewData["dsgList"] as List<WebApp_MulTable_Val_MulLayout_PartialView.Models.Designation>,
                              "Id", 
                              "Name"),
                              "Select Department", 
                              new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DesignationId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" >
            @saveUpdate
        </button>
    </div>
</div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
